
// Fonts
$font-body: 'Source Sans Pro', Helvetica, Arial, sans-serif

// Colours
$color-black: #333333
$color-grey: #CFCFCF
$color-white: #fff
$color-secondary: #66E866
$color-primary: #6464E1
$color-primary-darker: #4B4BA9
$box-shadow-purple: rgba(75,75,169,0.2)
$box-shadow-white: rgba(0,0,0,0.1)

// Wrapper width
$normal-width: 80rem
$large-width: 100rem