.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -1rem
    font-size: .9em
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
    border-radius 5px
  &.tip
    background-color #f8f8fd
    border-color #6464E1
    color darken(#6464E1, 20%)
    .custom-block-title
      color: #6464E1
  &.warning
    background-color #fffcf2
    border-color darken(#fffcf2, 50%)
    color darken(#fffcf2, 80%)
    .custom-block-title
      color darken(#fffcf2, 70%)
    a
      color $textColor
  &.danger
    background-color lighten(#e16464, 95%)
    border-color #e16464
    color darken(#e16464, 15%)
    .custom-block-title
      color darken(#e16464, 15%)
    a
      color $textColor
