
// Fonts

$font-body: 'Source Sans Pro', sans-serif
$font-heading: 'Montserrat', sans-serif

// Colours

$color-body: #333333
$color-primary: #66E866
$color-primary-lighter: #CAF6CA
$color-secondary: #6464E1
$color-secondary-darker: #4B4BA9